# dependencies
node_modules/

# env files (critical)
.env
.env.*
!.env.example

# build output
dist/
build/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor folders
.vscode/
.idea/

# cache
.cache/
*.tsbuildinfo

# vite
.vite/

# coverage
coverage/

# optional lock files
# package-lock.json
# yarn.lock
# pnpm-lock.yaml